*{
    padding:0;
    border: 0;
}

body{
    background-color:green;
    
}

nav{
    /* display:flex; */
    position:relative;
    height:10vh;
    background-color:aquamarine;
}
ul > li{
    list-style-type:none;
    position:absolute;
    
}

button{
    padding: 24px;
    margin:10px;
}

#cart{
    position:relative;
    left:35cm;
    top:1rem;
    width:1px;
    height:1px;
    padding:0;
    margin:0;
    
}

#search-bar{
    position:absolute;
    left:25rem;
    top:15px;   
    margin:0;
    padding:0;
    border-style:none;
    
}

#menu{
    position:relative;
    left:1px;
    float:right;
    padding: 5px;
    margin:6px;
    width:10px;

}



#menu-select{
    font-size:16px;
    font-family:sans-serif;
    
    /* width:10px; */
}

#hero-container{
    position:relative;
    margin:2px;
    padding:5px;
    top:30vh;
}
#container-hero{
    position:relative;
    width:auto;
    height:70vh;
    background-color:bisque;
    
}
#hero-container h2,h3{
    position:relative;
    margin-left:90px;
}

#search-items{
    padding: 1px 2px 1px 4px;
    float: left;
    background-position: 7px 7px; 
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    font-size:20px;
    height: 55px;
    width: 50vw;
    background-color:url(Pictures/);
    border-style:none;
}


#top-metro{
    display:flex;
    top:9vh;
    position:relative;
    height:35vh;
    width:1783px;
    overflow:hidden;
}

.slide-items{
    position:relative;
    display:flex;
    text-align: center;
    animation: scroll 50s linear infinite;
}

.slide-items > div {
    margin:10px;
    gap:20px;
    grid-column: 1/auto;
    grid-column:-1;
    grid-template-columns: auto auto auto auto;
    
}

.slide-items > div{
 
    display: inline-block;
    flex-shrink:0;
    padding:10px 0;
    justify-content: center;
    background-color: rgb(50, 50, 50);
    width: 20vw;
    height:30vh;
    font-size: 110px;
    align-content: center;
   
}

#top-metro > ul{
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-100%)); } /* Scroll to the left */
}

#items-viewer{
    display:flex;
    position:relative;
    top:10vh;   
    font-size:20px;
    gap: 3px;
    justify-content:center;
    align-items: center;
    justify-items:center;
    background-color:blueviolet;
    
}

#items-viewer > button{
    position:relative;
    justify-content: center;
    align-items:center;
    left:-6rem;

}


#items-viewer > h3{
    position:relative;
    top:-10vh;
    justify-content:center;
    align-items:center;
    right:-14rem;
  
    
}

/* End of section */

/* down section */
#boxes-container{
   position:relative;
    gap:20px;
    top:7vh;
    height:390px;
    box-sizing: border-box;
    width:auto;
    height:auto;
    margin: 40px;
    padding: 1px;
    display:flex;
    grid-template-areas:none ;
    padding-bottom:13px;
    
   
}

#boxes{
    height:305px;
    width:300px;
    border:1px;
    padding:10px;
    border-radius:15px 15px 5px 5px ;
    box-shadow:2px 2px 2px 2px;
    background-color:white;

}
#item-info{
    position:relative;
    top:-3px;
    background-color:aquamarine;  
}

.comment{
    position:relative;
    display:flex;
    padding:-10px;
    margin:7px;
}
#image-container{
    width:301px;
    height:220px;
    background-color:blueviolet;
}

/* End of down section */


 /* flex-wrap: wrap; 
    justify-content: center;
    align-content: center;
    border-radius:13px 13px 0px 0px; */

